html { box-sizing:border-box;}
*, *::before, *::after { box-sizing: inherit;}
.active, .accordion:hover {
    background-color: #ccc;
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    cursor: pointer;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    cursor: pointer;
  }

#box {
    width: 650px;
    height: 500px;
    background: white;
    position: centered;
    
    
}

.accordion{
    background-color:rgb(0,196,214);
    color: #FFF;
    padding: 18px;
    width: 100%;
    text-align:left;
    border:none;
    outline: none;
    transition: 0.4;
    font: 20px Lato,sans-serif;
    
    
}
.active, .accordion:hover {
    background-color: #ccc;
  }
  

       

 p  {
    font: 16px Lato, sans-serif;
 }

